{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<div class="conatiner">
    <div class="col-md-8">
        <h1>Welcome to Social.</h1> 
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Other Users
                </div>
                {% for user in users %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{% url 'account:user-profile' pk=user.pk %}">{{ user.username }}</a></li>
                </ul>
                {% if not user in friends %}
                <a href="{% url 'account:change_friends' operation='add' pk=user.pk %}">
                    <button type="button" class="btn btn-success btn-sm">Add Friend</button>
                </a>
                {% endif %}
                {% endfor %}
          </div>
        </div>

          <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Friends:
                </div>
            {% for friend in friends %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="{% url 'account:user-profile' pk=user.pk %}">{{ friend.username }}</li>
                <a href="{% url 'account:change_friends' operation='remove' pk=friend.pk %}">
                    <button type="button" class="btn btn-default btn-sm">Remove Friend</button>
                    </a>
            </ul>
            {% endfor %}
          </div>
        </div>  
    </div>
</div>
<!-- <a href="{% static 'posts/post_list.html' %}">Posts</a> -->
{% endblock %}