{% extends 'account/base.html' %}

{% block content %}
<div class="container">
    <h3>Profile</h3>
    <p>Username: {{ user }}</p>
    <p>Name: {{ user.profile.name }}</p>
    <p>Date of birth: {{ user.profile.dob }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.profile.bio }}</p>
    <p>Website: {{ user.profile.website }}</p>
    {% if user.profile.image %}
    <img src="{{ user.profile.image.url }}" width="240">
    {% endif %}
    <!-- <p>Posts:{{ user.posts }}</p> -->
    {% if post_list %}
    <ul>
      {% for post in post_list %}
        <li>
          <!-- <a href="{{ post.get_absolute_url }}">{{ post.image }}</a> ({{ post.caption }}) -->
          {% if post.image %}
          <img src="{{ user.post.image.url }}" width="240">
          {% endif %}
          <p>{{ post.post_date }}</p>
          <p>{{ post.caption }}</p>
        </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No Posts :)</a></p>
    {% endif %}       
</div>
{% endblock %}