{% extends 'account/base.html' %}
{% block content %}

<div class="container">
    <h3>Your Post.!</h3>
    <p>User: {{ user }}</p>
    {% if post.image %}
    <img src="{{ post.image.url }}" width="240">
    {% endif %}
    <p>{{ post.post_date }}</p>
    <p>{{ post.caption }}</p>
    <form action="{% url 'posts:post_list' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Like</button>
    </form>
  
</div>
{% endblock %}