{% extends 'account/base.html' %}
{% block content %}
  <h1>Post List</h1>
  {% if post_list %}
  <ul>
    {% for post in post_list %}
      <li>
        <!-- <a href="{{ post.get_absolute_url }}">{{ post.image }}</a> ({{ post.caption }}) -->
        {% if post.image %}
        <img src="{{ post.image.url }}" width="240">
        {% endif %}
        <p>{{ post.post_date }}</p>
        <p>{{ post.caption }}</p>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No Posts :(</p>
    <p><a href="{% url 'posts:post_new' %}">Make a Post?</a>:)</p>
  {% endif %}       
{% endblock %}