{% extends 'account/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    {% if form.errors %}
        <p>Your username and password didn't match. Try Again.!</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't has access please login with a registered account</p>
        {% else %}
            <p>Please login to see this page.!</p>
        {% endif %}
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table> -->

    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'password_reset' %}">Reset Password?</a></p>
</div>
{% endblock %}