{% extends 'account/base.html' %}
{% block content %}

{% if valid link %}
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.new_password1.errors }}</td>
            <label for="id_new_password1">New Password: </label>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password2.errors }}</td>
            <label for="id_new_password2">Confirm Password: </label>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit">Submit!</td>
        </tr>
    </table>
</form>
{% else %}
<h3>Password reset failed</h3>
<p>This link is invalid.Please Try again.!</p>
{% endif %}
{% endblock %}